header {
  color: white;
  text-shadow: 1px 1px 0px #196292;
  font-size: 27px;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

body {


  background: linear-gradient(to top, #196292 0%, white 100%, #196292 0%);
  



  background-size: cover;
  height: 100%;
  color: black;
  font-family: 'Comfortaa', cursive;
  /* text-shadow: 1px 1px 0px black; */
}

h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 0px #196292;
}



h2 {
  text-align: center;
  padding-top: 10px;
  color: #196292;
  font-size: 35px;
  text-shadow: 1px 1px 0px white;
}

ul {
  list-style-type: none;
}




#new-issue-form > input, #new-issue-form > label, #new-issue-form > select, #new-issue-form > input {
  margin-bottom: 15px;
}

#updateIssue > input, #updateIssue > label, #updateIssue > select, #updateIssue > input {
  margin-bottom: 15px;
}

#new-issue-form, #updateIssue {
  display: block;
  text-align: center;
}

#index-map {
  border-radius: 15px;
  border: 2px solid;
  border-color: #e44d1b;
}

.show-page-title, th {
  margin-top: 10px;
  text-decoration: underline;
}

.details {
  /* padding-left: 20px;
  padding-right: 20px; */
}

.table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse:separate; 
  border-spacing: 25px 15px; 
}

.table > th {
  margin-left: 5px;
}

#add-issue {
  padding-top: 20px;
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;

} 

.issue-photo {
  /* text-align: right; */
  /* padding-right: 5%; */
  margin-top: 8px;
  padding-left: 0;
  padding-right:0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img, iframe {
  border-radius: 15px;
  border: 2px solid;
  border-color: #e44d1b;
}
 
.map {
  margin-top: 8px;
  display: inline;
  text-align: center;
}

#edit-issue, #delete-issue {
  text-align: center;
  margin-top: 10px;
}



#add-comment-form {
  text-align: center;
  padding-bottom: 10px;
}

#add-comment-form > #add-comment-button {
  margin-top: 10px;
}

.navbar {
  grid-area: nav;
  background-color: #e44d1b;
  display: flex;
  justify-content: center;
  /* align-items: center;*/
  /* padding: 0 20px 0 30px;  */
  border-radius: 15px;
}

.logo {
  display: inline-block;
}

.left, .right {

  padding-inline-start: 0px;
  padding-inline-end: 0px;
}

.navbar-column {
  width: 33.33%;
  text-align: center;
}

/* .right {
  text-align: right;
} */

.navbar-brand {
  transform: scaleX(-1);
}

.navbar > a {
  /* padding-top: 15px; */
  /* width: 34px; */
  /* object-fit: contain;
  margin-right: auto; */
}
/* 
.navbar > .name1 {
  padding-top: 12px;
}

.navbar > .name2 {
  padding-top: 40px;
} */

.navbar > .left {
  /* position: absolute; */
  /* justify-content: left; */
}

.navbar > .right {
  /* position: absolute; */
  /* justify-content: right; */
}





footer {
  margin-top: 75px;
  text-align: center;
  color: gray;
}